.card {
    width: 260px;
    height: 296px;
    background: #B289EA;
}

.icon {
    width: 60px;
    height: 60px;
    margin-top: 30px;
}

.cardWrap {
    display: flex;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.name {
    margin-top: 20px;
    font-size: 28px;
}

.desc {
    margin-top: 50px;
    font-size: 12px;
}